*{
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: black;
    /* background-image: url(https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/tv.png); */
    background-repeat: no-repeat;
    background-size: contain;

}
.frame{
    width: 98%;
    height: 88%;
    border: 1px solid transparent;
    margin: auto;
}

#container{
    width:98%;
    height: 575px;
    border: 2px solid yellow;
    margin:0 auto;
    border-radius: 6px;
    padding: 2%;
    display: flex;
    justify-content: space-between;
}
.items{
    border: 1px solid transparent;
    width: 49%;
    height: 100%;
    color: yellow;
}
input{
    width: 55%;
    height: 35px;
    margin: 1%;
    border: none;
    border-bottom: 3px solid yellow
    ;
    background-color: black;
    color: yellow;
    font-size: 18px;
    text-align: left;
}
input:focus{
    outline: none;
}
h1{
    margin: 0;
    margin-bottom: 3%;
}
#results{
    width: 65%;
    height: 85%;
    border: 1px solid yellow;
    margin-left: 15%;
    padding: 1.5%;
    visibility: hidden;
    overflow-y: scroll;
}
#results > div{
    display: flex;
    margin-bottom: 3%;
    border: 2px solid orangered;
    background-color: yellow;
}
#results > div  p{
    color: black;
    margin-left: 1%;
    font-size: 18px;
    font-weight: 600;

}
#results > div   img{
    width: 125px;
    height: 125px;
}