#container{
    width:35%;
    height: 400px;
    margin:0px auto;
    font-family: sans-serif;
    border: 1px solid teal;
    border-radius: 6px;
    padding: 25px;
    display: inline-block;
    margin-left: 50px;
}
input{
    display: block;
    margin-bottom: 15px;
    width: 75%;
    height: 30px;
    font-size: 16px;
}
button{
    height: 30px;
    background-color: teal;
    color: white;
    font-size: 18px;
}
#flex{
    margin:50px auto;
    width: 85%;
    display: flex;
    justify-content: space-between;
}