.intake{
    width: 80%;
    height: 50px;
    border: 1px solid red;
    border-radius: 6px;
    font-family: sans-serif;
    margin: 25px auto;
    box-sizing: border-box;
    padding: 5px;
    font-size: 25px;
    background-color: whitesmoke;
}

.display{
    width: 65%;
    height: 450px;
    border: 1px solid darkblue;
    border-radius: 6px;
    font-family: sans-serif;
    margin: 25px auto;
    box-sizing: border-box;
    padding: 25px;
    text-align: center;
    overflow: scroll;
}

#task{
    width: 75%;
    height: 25px;
}
#submit{
    width: 15%;
    height: 25px;
    background-color: red;
    color: white;
    font-weight: bold;
    border-radius: 3px;
}

table{
    width: 100%;
}
th{
    background-color: blue;
    color: white;
    height: 20px;
}
.flex{
    margin: auto;
    width: 65%;
    height: 75px;
    border: 1px solid transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#flex1{
    width: 17%;
    height:50px;
    border: 1px solid red;
    font-size: 16px;
    font-weight: 600;
    font-family: sans-serif;
    padding-top: 25px;
    text-align: center;
    color: white;
    border-radius: 6px;
    background-color: black;
}